<html>
<head>
    <title>FITphotostream</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/grid.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1 class="text-center">FITphotostream</h1>




{{{body}}}
    
    


</body>
</html>