
<div class="container-fluid">

        <div class="row">
            {{#each images}}
                <div class="col-lg-{{this.likesRatio}} col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src={{this.url}} alt={{this.caption}}>
                    </a>
                </div>
            {{/each}}
        </div>


</div>
