<div class="grid">
  {{#each images}}  
    <div class="grid-item grid-item--width{{this.likesRatio}} grid-item--height{{this.likesRatio}}">
        <a class="thumbnail" href={{this.target}}>
            <img class="img-responsive" src={{this.url}} alt={{this.caption}}>
        </a>
    </div>
  {{/each}}
</div>

<script src="https://npmcdn.com/isotope-layout@3.0.0/dist/isotope.pkgd.min.js"></script>
<!--
<script src="libs/masonry-horizontal.js">
    $('.grid').isotope({
      layoutMode: 'masonryHorizontal',
      itemSelector: '.grid-item',
      masonryHorizontal: {
        rowHeight: 100pt
      }
    });    
</script>-->
<script>
    $grid.isotope({ 
        layoutMode: 'masonry',
        itemSelector: '.grid-item',
        columnWidth: 200
    })
</script>
