* { box-sizing: border-box; }

html, body { height: 100%; }
body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
/*  background: #000000;*/
/*  max-width: 1200px;*/
    height: 75%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 160px;
  float: left;
  background: #FFFFFF;
  border: 0px solid #FFF;
/*  border-color: hsla(0, 0%, 0%, 0.5);*/
  border-radius: 5px;
}

.grid-item--width1 { width: 100pt; }
.grid-item--width2 { width: 100pt; }
.grid-item--width3 { width: 200pt; }
.grid-item--width4 { width: 300pt; }

.grid-item--height1 { height: 100pt; }
.grid-item--height2 { height: 100pt; }
.grid-item--height3 { height: 200pt; }
.grid-item--height4 { height: 300pt; }
