* { box-sizing: border-box; }

/* inherit height from window */
html, body { height: 100%; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
/*  background: #DDD;*/
  height: 1080px; /* inherit height from body */
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 100pt;
  height: 100pt;
/*  background: #0D8;*/
/*  border: 2px solid #333;*/
/*  border-color: hsla(0, 0%, 0%, 0.7);*/
}

.grid-item--width2 { width: 200pt; }
.grid-item--height2 { height: 200pt; }

/*
.grid-item--width1 { width: 100pt; }
.grid-item--width2 { width: 100pt; }
.grid-item--width3 { width: 200pt; }
.grid-item--width4 { width: 300pt; }

.grid-item--height1 { height: 100pt; }
.grid-item--height2 { height: 100pt; }
.grid-item--height3 { height: 200pt; }
.grid-item--height4 { height: 300pt; }*/
